@import 'app/public/style/colors.scss';

.pad {
    position: absolute;
    top: 95%;
    width: 31%;
    height: 1.3vw;
    background-color: $lightgray;

    &.left {
        left: 3.5%;
    }

    &.center {
        left: 34.5%;
    }

    &.right {
        left: 65.5%;
    }
}
