/// Black
///@type Color
$black: #212121;

/// Red
///@type Color
$red: #F44336;

/// Lightgreen
///@type Color
$lightgreen: #8BC34A;

/// Green
///@type Color
$green: #43A047;

/// White
///@type Color
$white: #FAFAFA;

/// Light gray
///@type Color
$lightgray: #9E9E9E;

/// Orange
///@type Color
$orange: #FB8C00;

/// Yellow
///@type Color
$yellow: #FDD835;

/// Indigo
///@type Color
$indigo: #3949AB;

/// Blue
///@type Color
$blue: #1E88E5;

/// Lightblue
///@type Color
$lightblue: #039BE5;

/// Lightblue
///@type Color
$brown: #6D4C41;

/// Deeppurple
///@type Color
$deeppurple: #5E35B1;

/// Deeppink
///@type Color
$deeppink: #880E4F;