$black: #212121;
$red: #f44336;
$lightgreen: #8bc34a;
$green: #43a047;
$white: #fafafa;
$lightgray: #9e9e9e;
$orange: #fb8c00;
$yellow: #fdd835;
$indigo: #3949ab;
$blue: #1e88e5;
$lightblue: #039be5;
$brown: #6d4c41;
$deeppurple: #5e35b1;
$deeppink: #880e4f;
