/// Black
///@type Color
$black: #000000;

/// Red
///@type Color
$red: #FF0000;

/// Lightgreen
///@type Color
$lightgreen: lightgreen;

/// White
///@type Color
$white: white;

/// Light gray
///@type Color
$lightgray: #8E8E8E;
